<app-page-wrapper>
  <div>
    <div class="products-list">
      <div
        *ngFor="let product of products | async"
        class="product list-group"
        (click)="onProductClick(product.id)"
      >
        <button type="button" class="list-group-item list-group-item-action">
          <app-catalog-list-view
            [name]="product.name"
            [description]="product.description"
            [image]="product.productImage"
          ></app-catalog-list-view>
        </button>
      </div>
    </div>
  </div>
</app-page-wrapper>
